{{#if this.model}}
    <div class="employee-org-chart">
        <EmployeeList @employees={{this.model}} />
        <EmployeeTreeHandler 
            @employees={{this.model}} 
            @callbacks={{hash 
                changeManagerAction=(action "changeManagerAction" 
                target=this.currentRoute)
            }}
        />
    </div>
{{else}}
Loading...
{{/if}}